/* ASM3-2. Chia file CSS cho từng màn hình
chọn 576px cho chiều rộng lớn nhất của mobile, đổi màu body sang xanh lá */
@media screen and (max-width: 576px) {
  /* body {
    background-color: rgb(203, 240, 186);
  } */
  /* ASM3-0. Phần Banner */
  #banner div {
    font-size: 45%;
  }
  /* ASM3-3.Phần Navbar item được dàn xuống theo chiều dọc */
  #nav-bar .container {
    display: block;
  }
  #nav-bar a {
    display: block;
    text-align: left;
  }
  /* ASM3-6. Phần Chứng chỉ - Giải thưởng: tương tự chia layout tại HTML .chungchi */
  .cer {
    /*chỉnh border cuối mỗi chứng chỉ */
    border-bottom: 1px solid #d6c08d;
  }
  .cc2 div:before {
    display: none;
  }
  /* ASM3-7. Phần Dự án */

  /* ASM3-8. Phần Footer */
  .chantrang i,
  .chantrang a {
    font-size: 63%;
  }
}
